html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(223, 209, 209);
  color: rgb(214, 115, 206);
  font-family: "Times New Roman", Bold Italic !important;
}

.h1_nav {
  display: flex;
  justify-content: space-between;
}

.img-box {
  display: flex;
  justify-content: left;
}

.title_div {
  display: flex;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.title_div h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.api_info {
  display: flex;
  flex-direction: column;
  align-items: left;

  border-bottom: 1px solid white;
}

.each_info {
  color: #777777;
}

@media (min-width: 768px) {
  .title_div h1 {
    font-size: 2rem;
  }
}
