.top_img-box {
  display: flex;
  justify-content: center;
}

.h1_nav {
  padding: 1rem;
  font-size: 1rem;
}

h3 {
  padding: 1rem;
}
/* .go_to_link { */
/* } */

img {
  width: 100%;
}

@media (min-width: 768px) {
  img {
    width: 50%;
  }

  .h1_nav {
    font-size: 2rem;
  }
}
